<div *ngIf="productList" style="margin-top:110px;margin-bottom:110px;">
    <div class="container">
        <div class="card shopping-cart">
            <div class="card-header bg-dark text-light">
                <h4>Shipping cart</h4>
                <a href="#" class="btn btn-outline-info btn-sm pull-right">Continue shopping</a>
                <div class="clearfix"></div>
            </div>
            <div class="card-body">
                <!-- PRODUCT -->
                <ng-container *ngFor="let product of productList;trackBy:trackById;let i = index;">
                    <div class="row" id="{{productIDColl[i]}}">
                        <div class="col-12 col-sm-12 col-md-2 text-center">
                            <img class="img-responsive" src="{{product.imageURL}}" alt="preview" width="120" height="80">
                        </div>
                        <div class="col-12 text-sm-center col-sm-12 text-md-left col-md-6">
                            <h5 class="product-name">{{product.name}}</h5>
                            <h5>
                                <small>{{product.description}}</small>
                            </h5>
                        </div>
                        <div class="col-12 col-sm-12 text-sm-center col-md-4 text-md-right row">
                            <div class="col-3 col-sm-3 col-md-6 text-md-right" style="padding-top: 5px">
                                <h6 id="{{product.productID}}" #price>{{product.price | currency:'AUD':true:'1.2-2'}}</h6>
                            </div>
                            <div class="col-4 col-sm-4 col-md-4">
                                <div class="quantity">
                                    <input type="number" step="1" max="99" min="1" name="{{product.productID}}" value="{{quantityColl[i]}}" title="Qty" class="qty"
                                           size="4" (change)="onQuantityChange(quan)" #quan />
                                    <input type="text" name="productID_{{i}}" value="{{product.productID}}" style="display:none" />
                                </div>
                            </div>
                            <div class="col-2 col-sm-2 col-md-2 text-right">
                                <button type="button" class="btn btn-outline-danger btn-xs" name="{{product.productID}}" (click)="removeItem(cancel)" #cancel>
                                    X
                                </button>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <!-- END PRODUCT -->
                </ng-container>

                <div *ngIf="productList.length>0" class="card-footer">
                    <div class="pull-right" style="margin: 10px">
                        <a class="btn btn-warning pull-right" (click)="showDialog = !showDialog">Checkout</a>
                        <div class="pull-right" style="margin: 5px">
                            Total price: <b *ngIf="totalPrice!=0">{{totalPrice}}</b>
                        </div>
                    </div>
                </div>
                <div *ngIf="productList.length<=0">
                    <h4>Your shopping cart is empty</h4>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Login Dialog-->
<app-login [(visible)]="showDialog" (visibleChange) ="onVisibleChange($event)"></app-login>
