<div class="container" style="margin-top:210px; margin-bottom:210px;">
    <h2>Sitemap</h2>
    <div class="row">
        <div class="col-md-3"><a href="http://{{host}}/src/#/home">Home</a></div>
        <div class="col"></div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-3"><a href="http://{{host}}/src/#/product">Product</a></div>
        <div class="col">By Concern</div>
        <div class="col">By Series</div>
        <div class="col">Collections</div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col"><a href="http://{{host}}/src/#/product/catalog/Eye Care">Anti Wrinkle</a></div>
        <div class="col"><a href="http://{{host}}/src/#/product/catalog/Spring">Spring</a></div>
        <div class="col"><a href="http://{{host}}/src/#/product/catalog/top10">Top 10 Best Sellers</a></div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col"><a href="http://{{host}}/src/#/product/catalog/Anti Aging">Anti Aging</a></div>
        <div class="col"><a href="http://{{host}}/src/#/product/catalog/Summer">Summer</a></div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col"><a href="http://{{host}}/src/#/product/catalog/Moisturiser">Moisturiser</a></div>
        <div class="col"><a href="http://{{host}}/src/#/product/catalog/Autumn">Autumn</a></div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col"><a href="http://{{host}}/src/#/product/catalog/Treatment Lotion">Treatment Lotion</a></div>
        <div class="col"><a href="http://{{host}}/src/#/product/catalog/Winter">Winter</a></div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col"><a href="http://{{host}}/src/#/product/catalog/Mask">Mask</a></div>
        <div class="col"></div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col"><a href="http://{{host}}/src/#/product/catalog/Eye Care">Eye Care</a></div>
        <div class="col"></div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col"><a href="http://{{host}}/src/#/product/catalog/Acne">Acne</a></div>
        <div class="col"></div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col"><a href="http://{{host}}/src/#/product/catalog/Hydration">Hydration</a></div>
        <div class="col"></div>
        <div class="col"></div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-3"><a href="http://{{host}}/src/#/contact">Contact</a></div>
        <div class="col"></div>
    </div>
</div>