<div class="container" style="margin-top:110px;margin-bottom:110px;">
    <div *ngIf="productList" class="row">
        <ng-container *ngFor="let product of pagedItems;">
            <div class="col-sm-6 text-center" *ngIf="productList" style="margin-bottom:50px;">
                <img src="{{product.imageURL}}" class="img-rounded" width="300" height="412" alt="{{product.name}}">
                <h5>{{product.name}}</h5>
                <h6>{{product.description}}</h6>
                <div>{{product.price | currency:'AUD':true:'1.2-2'}}</div>
                <button class="btn btn-outline-dark btn-md" [routerLink]="['/product',product.productID]">SHOP NOW</button>
            </div>
        </ng-container>

        <div *ngIf="productList && productList.length<=0">
            <h1>Loading products... please wait</h1>
        </div>
    </div>

    <!-- pager -->
    <ul *ngIf="pager.pages && pager.pages.length" class="pagination justify-content-center">
        <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item">
            <a (click)="setPage(1)" class="page-link">First</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item">
            <a (click)="setPage(pager.currentPage - 1)" class="page-link">Previous</a>
        </li>
        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}" class="page-item">
            <a (click)="setPage(page)" class="page-link">{{page}}</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item">
            <a (click)="setPage(pager.currentPage + 1)" class="page-link">Next</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item">
            <a (click)="setPage(pager.totalPages)" class="page-link">Last</a>
        </li>
    </ul>
</div>
