<style>
    .dropdown-menu {
        background-color:#343a40;
        width: 2137%;
        left: -1002%;
        border:0px;
    }

    h4{
        color:white;
    }

    .dropdown-item {
        color: #FCF2CB;
    }
    a:hover {
        background-color: #1E4363;
    }
</style>

<nav class="navbar navbar-dark bg-dark navbar-expand-lg navbar-inverse fixed-top">
    <a class="navbar-brand" href="http://{{host}}/src/#/home">Ecommerce Demo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto mx-auto text-center">
            <li class="nav-item active">
                <a class="nav-link" href="http://{{host}}/src/#/home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://{{host}}/src/#/contact">Contact</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Product
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <div class="row">
                        <div class="col-md-3"><a class="dropdown-item" href="http://{{host}}/src/#/product" oncontextmenu="return false;"><h4>All Products</h4></a></div>
                        <div class="col"><h4>By Concern</h4></div>
                        <div class="col"><h4>By Series</h4></div>
                        <div class="col"><h4>Collections</h4></div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col"><a href="http://{{host}}/src/#/product/catalog/Eye Care" class="dropdown-item" oncontextmenu="return false;">Anti Wrinkle</a></div>
                        <div class="col"><a href="http://{{host}}/src/#/product/catalog/Spring" class="dropdown-item" oncontextmenu="return false;">Spring</a></div>
                        <div class="col"><a href="http://{{host}}/src/#/product/catalog/top10" class="dropdown-item" oncontextmenu="return false;">Top 10 Best Sellers</a></div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col"><a href="http://{{host}}/src/#/product/catalog/Anti Aging" class="dropdown-item" oncontextmenu="return false;">Anti Aging</a></div>
                        <div class="col"><a href="http://{{host}}/src/#/product/catalog/Summer" class="dropdown-item" oncontextmenu="return false;">Summer</a></div>
                        <div class="col"></div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col"><a href="http://{{host}}/src/#/product/catalog/Moisturiser" class="dropdown-item" oncontextmenu="return false;">Moisturiser</a></div>
                        <div class="col"><a href="http://{{host}}/src/#/product/catalog/Autumn" class="dropdown-item" oncontextmenu="return false;">Autumn</a></div>
                        <div class="col"></div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col"><a href="http://{{host}}/src/#/product/catalog/Treatment Lotion" class="dropdown-item" oncontextmenu="return false;">Treatment Lotion</a></div>
                        <div class="col"><a href="http://{{host}}/src/#/product/catalog/Winter" class="dropdown-item" oncontextmenu="return false;">Winter</a></div>
                        <div class="col"></div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col"><a href="http://{{host}}/src/#/product/catalog/Mask" class="dropdown-item" oncontextmenu="return false;">Mask</a></div>
                        <div class="col"></div>
                        <div class="col"></div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col"><a href="http://{{host}}/src/#/product/catalog/Eye Care" class="dropdown-item" oncontextmenu="return false;">Eye Care</a></div>
                        <div class="col"></div>
                        <div class="col"></div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col"><a href="http://{{host}}/src/#/product/catalog/Acne" class="dropdown-item" oncontextmenu="return false;">Acne</a></div>
                        <div class="col"></div>
                        <div class="col"></div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col"><a href="http://{{host}}/src/#/product/catalog/Hydration" class="dropdown-item" oncontextmenu="return false;">Hydration</a></div>
                        <div class="col"></div>
                        <div class="col"></div>
                        <div class="col-md-3"></div>
                    </div>
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <a href="http://{{host}}/src/#/product/cart"><h1>🛒</h1></a>
    </div>
</nav>